[submodule "hardware/KiCAD-Component-Library"]
	path = hardware/KiCAD-Component-Library
	url = https://github.com/GryphonRacingFSAE/KiCAD-Component-Library.git
[submodule "software/DBCs"]
	path = software/DBCs
	url = https://github.com/GryphonRacingFSAE/DBCs.git
